# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/

# Environment variables
.env
.env.*

# Test / coverage files
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db
